In [1]:
import pandas as pd
import numpy as np

In [4]:
accident_path = "US_Accidents_Dec20.csv"
accidents_df_all = pd.read_csv(accident_path)

In [5]:
accidents_df_all.head()

,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,MapQuest,201.0,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,MapQuest,201.0,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,MapQuest,201.0,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,MapQuest,201.0,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,MapQuest,201.0,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day

In [6]:
accidents_df_all.columns.to_list()

['ID',
 'Source',
 'TMC',
 'Severity',
 'Start_Time',
 'End_Time',
 'Start_Lat',
 'Start_Lng',
 'End_Lat',
 'End_Lng',
 'Distance(mi)',
 'Description',
 'Number',
 'Street',
 'Side',
 'City',
 'County',
 'State',
 'Zipcode',
 'Country',
 'Timezone',
 'Airport_Code',
 'Weather_Timestamp',
 'Temperature(F)',
 'Wind_Chill(F)',
 'Humidity(%)',
 'Pressure(in)',
 'Visibility(mi)',
 'Wind_Direction',
 'Wind_Speed(mph)',
 'Precipitation(in)',
 'Weather_Condition',
 'Amenity',
 'Bump',
 'Crossing',
 'Give_Way',
 'Junction',
 'No_Exit',
 'Railway',
 'Roundabout',
 'Station',
 'Stop',
 'Traffic_Calming',
 'Traffic_Signal',
 'Turning_Loop',
 'Sunrise_Sunset',
 'Civil_Twilight',
 'Nautical_Twilight',
 'Astronomical_Twilight']

In [7]:
accidents_df_trimmed = accidents_df_all[['Start_Time',
                                         'Start_Lat',
                                         'Start_Lng',
                                         'County',
                                         'State',
                                         'Country',
                                         'Timezone']]

In [8]:
accidents_df_trimmed.head()

,Start_Time,Start_Lat,Start_Lng,County,State,Country,Timezone
0,2016-02-08 05:46:00,39.865147,-84.058723,Montgomery,OH,US,US/Eastern
1,2016-02-08 06:07:59,39.928059,-82.831184,Franklin,OH,US,US/Eastern
2,2016-02-08 06:49:27,39.063148,-84.032608,Clermont,OH,US,US/Eastern
3,2016-02-08 07:23:34,39.747753,-84.205582,Montgomery,OH,US,US/Eastern
4,2016-02-08 07:39:07,39.627781,-84.188354,Montgomery,OH,US,US/Eastern

In [9]:
accidents_df_trimmmed = accidents_df_trimmed.rename(columns = {"Start_Lat":"latitude", "Start_Lng":"longitude"})

In [10]:
pd.to_datetime(accidents_df_trimmed.Start_Time)

0         2016-02-08 05:46:00
1         2016-02-08 06:07:59
2         2016-02-08 06:49:27
3         2016-02-08 07:23:34
4         2016-02-08 07:39:07
                  ...
4232536   2019-08-23 18:03:25
4232537   2019-08-23 19:11:30
4232538   2019-08-23 19:00:21
4232539   2019-08-23 19:00:21
4232540   2019-08-23 18:52:06
Name: Start_Time, Length: 4232541, dtype: datetime64[ns]

In [11]:
accidents_GA = accidents_df_trimmed.loc[(accidents_df_trimmed["State"] == "GA") & (accidents_df_trimmed["Country"] == "US")]

In [12]:
len(accidents_GA)

107116

In [13]:
accidents_GA.Start_Time.max()

'2020-12-31 22:36:06'

In [14]:
accidents_GA.Start_Time.min()

'2016-06-17 15:03:10'

In [15]:
accidents_GA_2017_2020_original = accidents_GA.loc[accidents_GA["Start_Time"] > '2016-12-31 23:59:59']

In [16]:
len(accidents_GA_2017_2020_original)

93874

In [17]:
accidents_GA_2017_2020_original["County"].value_counts()

Fulton      32665
DeKalb      12935
Richmond     9157
Cobb         6708
Gwinnett     4387
            ...
Mcduffie        2
Quitman         1
Wilcox          1
Glascock        1
Mcintosh        1
Name: County, Length: 163, dtype: int64

In [18]:
county_names_raw = accidents_GA_2017_2020_original.County.unique().tolist()  # .tolist is for arrays
print(sorted(county_names_raw))

['Appling', 'Atkinson', 'Bacon', 'Baker', 'Baldwin', 'Banks', 'Barrow', 'Bartow', 'Ben Hill', 'Berrien', 'Bibb', 'Bleckley', 'Brantley', 'Brooks', 'Bryan', 'Bulloch', 'Burke', 'Butts', 'Calhoun', 'Camden', 'Candler', 'Carroll', 'Catoosa', 'Charlton', 'Chatham', 'Chattahoochee', 'Chattooga', 'Cherokee', 'Clarke', 'Clay', 'Clayton', 'Clinch', 'Cobb', 'Coffee', 'Colquitt', 'Columbia', 'Cook', 'Coweta', 'Crawford', 'Crisp', 'Dade', 'Dawson', 'DeKalb', 'Decatur', 'Dekalb', 'Dodge', 'Dooly', 'Dougherty', 'Douglas', 'Early', 'Echols', 'Effingham', 'Elbert', 'Emanuel', 'Evans', 'Fannin', 'Fayette', 'Floyd', 'Forsyth', 'Franklin', 'Fulton', 'Gilmer', 'Glascock', 'Glynn', 'Gordon', 'Grady', 'Greene', 'Gwinnett', 'Habersham', 'Hall', 'Hancock', 'Haralson', 'Harris', 'Hart', 'Heard', 'Henry', 'Houston', 'Irwin', 'Jackson', 'Jasper', 'Jeff Davis', 'Jefferson', 'Jenkins', 'Johnson', 'Jones', 'Lamar', 'Lanier', 'Laurens', 'Lee', 'Liberty', 'Lincoln', 'Long', 'Lowndes', 'Lumpkin', 'Macon', 'Macon-Bibb County', 'Madison', 'Marion', 'McDuffie', 'McIntosh', 'Mcduffie', 'Mcintosh', 'Meriwether', 'Miller', 'Mitchell', 'Monroe', 'Montgomery', 'Morgan', 'Murray', 'Muscogee', 'Newton', 'Oconee', 'Oglethorpe', 'Paulding', 'Peach', 'Pickens', 'Pierce', 'Pike', 'Polk', 'Pulaski', 'Putnam', 'Quitman', 'Rabun', 'Randolph', 'Richmond', 'Rockdale', 'Schley', 'Screven', 'Seminole', 'Spalding', 'Stephens', 'Stewart', 'Sumter', 'Talbot', 'Taliaferro', 'Tattnall', 'Taylor', 'Telfair', 'Terrell', 'Thomas', 'Tift', 'Toombs', 'Towns', 'Treutlen', 'Troup', 'Turner', 'Twiggs', 'Union', 'Upson', 'Walker', 'Walton', 'Ware', 'Warren', 'Washington', 'Wayne', 'Webster', 'Wheeler', 'White', 'Whitfield', 'Wilcox', 'Wilkes', 'Wilkinson', 'Worth']

In [19]:
accidents_GA_2017_2020_original.County.nunique()

163

In [20]:
accidents_GA_2017_2020_original.reset_index(drop = True, inplace = True)

In [28]:
accidents_GA_2017_2020_cleaned = accidents_GA_2017_2020_original.copy()

In [30]:
accidents_GA_2017_2020_cleaned.loc[accidents_GA_2017_2020_cleaned["County"] == "Macon-Bibb County"] = "Macon"
accidents_GA_2017_2020_cleaned.loc[accidents_GA_2017_2020_cleaned["County"] == "Dekalb"] = "DeKalb"
accidents_GA_2017_2020_cleaned.loc[accidents_GA_2017_2020_cleaned["County"] == "Mcduffie"] = "McDuffie"
accidents_GA_2017_2020_cleaned.loc[accidents_GA_2017_2020_cleaned["County"] == "Mcintosh"] = "McIntosh"

In [27]:
# More efficient way to do it!

accidents_GA_2017_2020_cleaned2 = accidents_GA_2017_2020_original.copy()

accidents_GA_2017_2020_cleaned2.replace("County", {"Macon-Bibb":"Macon", 
                                                   "Dekalb":"DeKalb",
                                                   "Mcduffie":"McDuffie",
                                                   "Mcintosh":"McIntosh"}, inplace = True)

In [31]:
county_names_raw = accidents_GA_2017_2020_cleaned.County.unique().tolist()  # .tolist is for arrays
print(sorted(county_names_raw))

['Appling', 'Atkinson', 'Bacon', 'Baker', 'Baldwin', 'Banks', 'Barrow', 'Bartow', 'Ben Hill', 'Berrien', 'Bibb', 'Bleckley', 'Brantley', 'Brooks', 'Bryan', 'Bulloch', 'Burke', 'Butts', 'Calhoun', 'Camden', 'Candler', 'Carroll', 'Catoosa', 'Charlton', 'Chatham', 'Chattahoochee', 'Chattooga', 'Cherokee', 'Clarke', 'Clay', 'Clayton', 'Clinch', 'Cobb', 'Coffee', 'Colquitt', 'Columbia', 'Cook', 'Coweta', 'Crawford', 'Crisp', 'Dade', 'Dawson', 'DeKalb', 'Decatur', 'Dodge', 'Dooly', 'Dougherty', 'Douglas', 'Early', 'Echols', 'Effingham', 'Elbert', 'Emanuel', 'Evans', 'Fannin', 'Fayette', 'Floyd', 'Forsyth', 'Franklin', 'Fulton', 'Gilmer', 'Glascock', 'Glynn', 'Gordon', 'Grady', 'Greene', 'Gwinnett', 'Habersham', 'Hall', 'Hancock', 'Haralson', 'Harris', 'Hart', 'Heard', 'Henry', 'Houston', 'Irwin', 'Jackson', 'Jasper', 'Jeff Davis', 'Jefferson', 'Jenkins', 'Johnson', 'Jones', 'Lamar', 'Lanier', 'Laurens', 'Lee', 'Liberty', 'Lincoln', 'Long', 'Lowndes', 'Lumpkin', 'Macon', 'Madison', 'Marion', 'McDuffie', 'McIntosh', 'Meriwether', 'Miller', 'Mitchell', 'Monroe', 'Montgomery', 'Morgan', 'Murray', 'Muscogee', 'Newton', 'Oconee', 'Oglethorpe', 'Paulding', 'Peach', 'Pickens', 'Pierce', 'Pike', 'Polk', 'Pulaski', 'Putnam', 'Quitman', 'Rabun', 'Randolph', 'Richmond', 'Rockdale', 'Schley', 'Screven', 'Seminole', 'Spalding', 'Stephens', 'Stewart', 'Sumter', 'Talbot', 'Taliaferro', 'Tattnall', 'Taylor', 'Telfair', 'Terrell', 'Thomas', 'Tift', 'Toombs', 'Towns', 'Treutlen', 'Troup', 'Turner', 'Twiggs', 'Union', 'Upson', 'Walker', 'Walton', 'Ware', 'Warren', 'Washington', 'Wayne', 'Webster', 'Wheeler', 'White', 'Whitfield', 'Wilcox', 'Wilkes', 'Wilkinson', 'Worth']

In [32]:
# check again
accidents_GA_2017_2020_cleaned.County.nunique()

159

In [33]:
accidents_GA_2017_2020_cleaned.to_csv("accidents_GA_2017_2020_cleaned.csv", index = True, header = True)